@charset "utf-8";
*{margin:0; padding:0; list-style:none;}
a,a:link,a:visited,a:hover,a:active{
	text-decoration:none;
	color:#666;
}

header{
	width:1200px;
	height:100px;
	margin:0 auto;
	position:relative;
	text-align:center;
	font-size:0.92rem;
}

.clear::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}

header>*{position:absolute; top:50%; transform:translatey(-50%);}
header>div>*,header>div>ul>li{float:left;}
header>div>ul>li>a,#contact>a{
	padding:0 20px;
	display:block;
}
header>div{right:0;}

#border{width:1px;height:130px; background:#d3d3d3;
top:0; right:119px;}

#main_img img{width:100%; min-width: 1200px; height:100%;}
#main_img{position:relative;
width:100%; height:496px; min-width: 1200px;}
#vb_pre,#vb_next{
	display:block;
	width:31px; height:52px; 
	background:url('../images/icon_ar_l.png');
	position:absolute;
	top:50%; left:2%;
	transform:translatey(-50%);
	text-indent:-999999px;
}
#vb_next{background:url('../images/icon_ar_r.png');
left:97%;}


#con_wrap{
	width:1200px;
	margin:0 auto;
	height:200px;
}

#con_wrap>ul>li{
	float:left;
	width:400px;
}
#con_wrap>ul>li>a{display:block; height:80px;}

#con_wrap>ul>li>a>dl{
	margin:60px 0 0 100px;
}
#con_wrap>ul>li{
	width:400px;
	height:200px;
	background:url("../images/link-thum02.png")no-repeat left center;
}
#con_wrap>ul>li:first-child{
	background:url("../images/link-thum01.png")no-repeat left center;
}
#con_wrap>ul>li:last-child{
	background:url("../images/link-thum03.png")no-repeat left center;
}

dt{
	color:#1428A0;
	font-weight:bold;
	font-size:0.8rem;
}
dd{
	font-size:.8rem;
}
dl>dd:nth-of-type(1){margin-top:10px;}

#main_wrap{
	border-bottom:1px solid #d3d3d3;}




footer{
	width:900px;
	height:140px;
	margin:0 auto;
	text-align:center;
}

#foot_logo, footer>div>ul>li{margin-top:50px;
float:left;}
#foot_logo{margin-right:28px;}


footer>div>ul>li{
	font-size:.75rem;
	padding:0 10px;
	line-height:15px;
}
footer>div>ul>li>a{
	line-height:16px;
}
	
footer>p{
	margin:5px 0 0 0;
	font-size:.65rem;
	color:#666;
	letter-spacing:-.5px;
}